- var appTitle = "Voting App"

doctype html
html
  head
    title= appTitle
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/main.css")
  body
    h1= appTitle
    if currentUser
      span Signed in as #{currentUser.name}
    ul
      li
        a(href="/") home
      if currentUser
        li
          a(href="/users") user list
        if currentUser.is_admin
          li
            a(href="/applicants") applicant list
          li
            a(href="/logout") logout
    hr
    block content
