- var appTitle = "Voting App"

doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
    title= appTitle
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/main.css")
  body
    div(class="header")
      h1= appTitle
      if currentUser
        span(class="signed-in-id") Signed in as #{currentUser.name}
        span(class="links")
          li
            a(href="/") Home
          if currentUser
            if currentUser.is_admin
              li
                a(href="/users") User List
              li
                a(href="/applicants") Applicant List
            li
              a(href="/logout") Logout
    block content
